---
import type { GetStaticPaths } from "astro";
import { articlesList } from "../../quearies/articles.js";
import { Image } from "astro:assets";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { marked } from 'marked';
import Lastest from "../../components/Lastest.astro";


export const getStaticPaths = (async () => {
  return articlesList.posts.data.map(({ attributes }) => ({
    params: { slug: attributes.slug },
    props: attributes,
  }));
}) satisfies GetStaticPaths;

const articleData = Astro.props;
---

<style>
  .div-wrapper{
    display: flex;
    justify-content: center;
  }
  .image-wrapper{
    max-width: 450px ;900px
    max-height: auto ;500px
  }

  .image-wrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6%;
    margin-top: 3%;
  }

  .post-information{
margin-left: 5%;
margin-top: 4%;

  }
  
  .line{
    color: black;
    border-bottom: solid 3px black;
    margin-top: 20px;
    margin-left: 20%;
    width: 55%;
    
   
}

.content{
display: grid;
grid-template-columns: 20% 1fr 25%;
  margin-bottom: 3%;
  margin-left:2px ;

}
@media screen and (max-width: 1300px) {
  .content{
    display: flex;
    flex-direction: column;
    margin: 40px 20px auto 20px;
    align-items: center;
    max-width: 1300px;
  }
}
.left-placeholder{
 
}

.right-placeholder{
  width: 50%;
}

.text-space img{
  object-fit: cover;
  width: 100%;
  height: auto;
  margin-top: 2%;
  padding: 2%;
}

.text-space{
  background-color: #F5EEE2;
}

.lastest{
  margin-top: 9%;
  margin-left: 5%;
  margin-bottom: 3%;
}
</style>

<DefaultLayout>


  <div class="div-wrapper">
    
    <div class="image-wrapper">
      
      <Image
      src={articleData.image.data.attributes.url}
      alt={articleData.image.data.attributes.alternativeText || "altvbgh"}
      width="200"
      height="200"
      />
    </div>
    <div class="post-information">
      <!-- <p>Категория: {articleData.Category.data.attributes.name}</p> -->
      <h1>{articleData.name}</h1>
      <p>Категория: </p>
      {
        articleData.categories.data.map((item) => {
            console.log(item);
            return <p>{item.attributes.name}</p>;
            // return 1;
          })
        }

      <p>Дата на публикуване:  {articleData.date}</p>
      
    </div>
  </div>
  
  <div>

    <div class="line"></div>
  </div>
  <div class="content">
  <div class="left-placeholder"></div>
  <div class="text-space" set:html={marked.parse(articleData.content)}></div>
  <div class="right-placeholder">
    
<div class="lastest">

  <Lastest/>
</div>
  </div>
  </div>
</div>

</DefaultLayout>
