---
import { Image } from "astro:assets";
import bgrest from "../images/bgrest.svg";
import bgrestaurants from "../images/bgrestaurants.svg";
import isnstagramLogo from "../images/instagramLogo.svg";
import facebooklogo from "../images/facebooklogo.svg";
import { categoryList } from "../quearies/category.js";
import { Icon } from "astro-icon/components";
---

<!-- <footer>
  
  <div class="links-wrapper">
    <div class="logo">
      <Image src={bgrest} alt="logo" width="80" height="80" ; />
    </div>


    <div class="footer-categories">
      <div class="categories">
          {
              categoryList.categories.data.map(({attributes}) => {
                return(
      <a class="category-button" href={`/categories/${attributes.slug}`}>{attributes.name}</a>
      )
              })
          }
        </div>
        
  </div>

    <div class="contacts">
      <ul>
        <h3>КОНТАКТИ:</h3>
        <li>0878887559</li>
        <li>Политика за поверителност</li>
        <Image src={isnstagramLogo} alt="insta" width="50" height="52"; />
        <Image src={facebooklogo} alt="face" width="40" height="51"; />
      </ul>

     
    </div>
    
  </div>

  <div class="rights">
    <h2>© 2024-2026 BgResturants. Всички права запазени. (Created by L4)</h2>
  </div>

</footer>

<style>
  footer {
    display: flex;
    background-color: #F5EEE2;
    color: #000000;
    width: 100%;
    flex-direction: column;
    
  }

  .links-wrapper{
  display: flex;
  justify-content: space-around;
  
  }


  .rights {
    display: flex;
    text-align:bottom;
    margin: 13%;
    font-size: 50%;
    position: absolute;
    /* bottom: 130%;                       /towa se mesti/ */
    left:4%;
    transform: translateX(-50%);
    background-color: #F5EEE2;
  }

  .logo {
    display: flex;
    margin: 4%;
  }

/* ??? */
 
  .categories{
    display: flex;
    flex-direction: column; /* Променено от "row" на "column" */
    justify-content: center;
    margin: 50%;
    font-size: 100%;
    
  
}
/* ??? */

  .contacts {
    display: flex;
    margin: 1%;
    font-size: 100%;
  }


</style> -->
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .privacy-policy:hover {
    background-color: #555;
    border-radius: 2%;
    font-size: 1.0em; Промяна на размера на шрифта
  }
  
  .category-button:hover {
        background-color: #555;
        border-radius: 2%;
        font-size: 1.1em; Промяна на размера на шрифта
    }
  footer {
    /* background: linear-gradient(180deg, #F5EEE2 0%, #e3e4e6 100%); */
    color: white;
    background-color: #f5eee2;
    padding: 1px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-top: 2px solid #8F2607;
  }

  footer ul {
    color: #000000;
    list-style: none;
    padding-left: 0px;
  }

  .column {
  }

  .footerHeading {
    color: #8F2607;
    font-weight: bolder;
    font-size: large;
  }

  .categories {
    display: flex;
    flex-direction: column; /* Променено от "row" на "column" */
    justify-content: center;
    font-size: 100%;
  }


  .centered-img {
    display: grid; /*Logo layout*/
    justify-content: start;
    align-items: center;
    margin: auto auto auto 10%;
  }
  .category-button {
    text-decoration: none;
    color: #000000;
    width: 50%;
  }

  img {
    width: 90px;
    height: auto;
  }

  .bgrest-img {
    width: 100px;
    height: auto;
    margin: 0% 0% 0% 100%;
  }

  .rights {
    display: flex;
    justify-content: space-around;
    font-size: 100%;
    background-color: #f5eee2;
    color: #8F2607;
  }

  @media screen and (max-width: 670px) {
    footer {
      grid-template-columns: 2fr;
      grid-template-rows: 1fr;
    }

    img.column {
      width: 150px;
      height: 68px;
      padding-top: 100px;
    }
  }

  @media screen and (max-width: 440px) {
    div .column {
      width: 100px;
      height: 68px;
    }
  }

  [data-icon] {
    color: black;
    
  }
</style>

<footer>
  <div class="column centered-img">
    <a href="/">
      <Image
        class="bgrest-img"
        src={bgrestaurants}
        alt="logo"
        width="374"
        height="68"
      />
    </a>
  </div>

  <div class="footer-categories">
    <p class="footerHeading">Категории</p>
    <div class="categories">
      {
        categoryList.categories.data.map(({ attributes }) => {
          return (
            <a class="category-button" href={`/categories/${attributes.slug}`}>
              {attributes.name}
            </a>
          );
        })
      }
    </div>
  </div>
  <div class="column">
    <p class="footerHeading">Полезни връзки</p>
    <ul>
      <li>0878887559</li>
      <a class="privacy-policy" href=" http://localhost:4322/privacypolicy"
        >Политика за поверителност</a
      >
    </ul>
    <a href="https://www.instagram.com/" target="_blank">
      <Icon name="mdi:instagram" size={40} />
    </a>
    <a href="https://www.facebook.com/" target="_blank">
      <Icon name="ic:baseline-facebook" size={40} />
    </a>
  </div>
</footer>
<div class="rights">
  <p>Ⓒ 2024 All rights reserved. Created by Lub4o</p>
</div>
